<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><br>
            <h4>Add Flight</h4>

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Book Name</label>
                    <input type="text" placeholder="book name" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Author</label>
                    <input type="text" placeholder="origin" class="form-control" name="author" [(ngModel)]="author">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">published date</label>
                    <input type="date" placeholder="published date" class="form-control" name="pdate" [(ngModel)]="pdate">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Price</label>
                    <input type="text" placeholder="Price" class="form-control" name="price" [(ngModel)]="price">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readvalue()" [disabled]="status">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
